body {margin: 0; padding: 0;}
.scroll{height: 700px;}
li{list-style: none;}

.store-page-title{text-align: center; color: white; font-size: 50px; border-bottom: 1px solid white;}
.store-back-img{
    background-image: url('../image/elpoco/store/store_back.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store-nav{width: 100%; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; height: 50px;}
.store-nav ul{float: left;}
.store-nav-arrow{position: relative; right: 0px; opacity: 0.4;}
.store-location-menu{height: 48px; text-align: left; display: flex; align-items: center;}
.store-location-menu li{display: inline;}
.store-location-menu li a{text-decoration: none; color: #999; font-size: 18px; font-weight: bold;}
.store-location-menu li a:hover{color: #222;}
.store-location-btn{
    background: url('../image/elpoco/store/btn_home_location.png') center ;
    display: block;
    height: 48px;
    width: 40px;
    margin-left: 50px;
    padding: 1px 10px;
    border-left: 1px solid #dedede;
}
.store-location-nav-list{border-left: 1px solid #dedede; padding: 13px 10px; padding-right: 150px;}
.store-location-nav-last{border-right: 1px solid #dedede;}
.store-location{position: absolute; right: 0px; margin-right: 140px;}
.store-location > li{
    position: relative;
    float: left;
    padding-left: 25px;
    background: url('../image/elpoco/store/location_arrow.png') 10px center no-repeat;
}
.store-location li span{color:#999; font-size: 14px; line-height:50px; }
.store-location > li:first-child{background: none;padding-left: 0px;}
.store-location > li:last-child span{color: #222;}