.index_image_slide_wrap{
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
}
.index_image_slide{
    list-style: none;
    position: absolute;
    display: flex;
}
.index_image_slide li{
    width: 1920px;
    height: 900px;
    border: 1px solid black;
}
