.story_header{
    background-image: url('../../image/seongjin/story/sub_visual_01.jpg');
    background-attachment: fixed;
    background-position: 0 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story_header h1{
    color: white;
    font-family: akrobat-black;
    font-size: 3.8em;
    letter-spacing: 0.1em;
}
.story_header_underline{
    width: 210px;
    height: 2px;
    background-color: white;
    margin-top: -13px;
}
.story_navigator_wrap{
    border-bottom: 1px solid lightgray;
}
.story_navigator{
    width: 1200px;
    margin: 0px auto;
    color: gray;
}
.story_body{
    height: 2285px;
    background-image: url(../../image/seongjin/story/story_visual.jpg);
    background-position: center;
    background-repeat: no-repeat;
}