

div.menu-top-visual {
    position: fixed;
    top: 100px;
    left: 0;    
    width: 100%;
    height: 600px;
    opacity: 0;
    z-index: -1;
    text-shadow: 0 0 black;
    display: table;
    border: 1px solid black;
    
    background-position: center top;
}

div.menu-item-visual{
     
     
    overflow: auto;
    display: inline-block;
    
    font:bold;
    justify-content: center;
    align-items: center;    
    text-align: center;
    font-style: normal;
    
    
    
}



.menu-setting{
    background-color: white;
    padding:100px 300px 100px 300px;
    

}
.menu-setting>h1{
    font-size: 2em;
    display: block;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
.menu-setting>hr{
 margin-bottom: 20px;
 border: 1px solid black;
    
}
.menu-item-setting{
    padding-top: 0;
    margin: 0;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  
    
}
.menu-item-img{
    
    z-index: -0.5;
    
}
.menu-item-name{
    position: relative;
    
    justify-content: center;
    align-items: center;
    font: bold;
    font-size: 1.5em;
    padding: 20px;
}
.menu-item-name>hr{
    margin: 15px;
    border: 1px solid gainsboro;
    

}

.menu-item-hover>h2{
    margin-top: 100px;
    
}

.menu-item-hover>p{
    font-size: 0.8em;
    font-weight: bold;
    
    text-align: center;
    margin-top : 50px;
    margin-bottom: 20px;
    
}
.menu-item-hover{
    width: 100%;
    height: 390px;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    color: white;
    padding: 0px;
    text-align: center;
}
.menu-item-origin{
    border: 1px solid white;
    display: inline;
    padding: 5px;
    margin: 20px;
}

.menu-setting>ul>li{
    border: 1px solid gainsboro;
    list-style: none;
    display: inline-block;
    
    box-sizing: border-box;
    
    margin-top: 20px;
    margin-right: 30px;
    position: relative;
    
    height: 545px;
    
}
.menu-notice {
    margin-top:50px;
    margin-bottom: 50px;
     padding:40px;
      border:1px solid #dedede;

    }
.menu-notice h4 {
    color:#222;
     font-size:20px;
      font-weight:500;
    }
.menu-notice .txt {
    margin-top:15px;
     color:#666; 
     font-size:14px; 
     line-height:24px;
    }



    .allround_navigator_wrap{
        border-bottom: 1px solid lightgray;
        background-color: white;
        clear: both;
    }
    .allround_navigator{
        width: 1200px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .allround_navi_anchor{
        display: flex;
    }
    .allround_navi_anchor>a{
        border-left : 1px solid lightgray;
        border-right : 1px solid lightgray;
    }
    .allround_navi_anchor>a>img{
        height: 45px;
    }
    #allround_loca{
        color: gray;
        font-size: 0.95em;
    }
    .allround_dropdown_wrap{
        padding: 0 20px;
        border-right: 1px solid lightgray;
        font-weight: 600;
        position: relative;
    }
    .allround_dropdown_title{
        width: 220px;
        cursor:pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: black;
        line-height: 42px;
        margin-top: 3px;
        opacity: 0.4;
    }
    .allround_dropdown_title>img{
        margin-left: 30px;   
    }
    .allround_dropdown_contents{
        background-color: white;
        list-style: none;
        position: absolute;
        top: 45px; left: -1px;
        width: 260px;
        padding: 10px 0;
        outline: none;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }
    .allround_dropdown_contents li{
        opacity: 0.4;
        cursor:pointer;
        margin: 20px 20px;
    }
    .allround_dropdown_contents li:hover{
        opacity: 1;
        text-decoration: underline;
    }
    



